/* Typical Device Breakpoints 
------------------------------

Pequenas telas: até 600px
Celulares: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px
*/

/* Pequenas telas: até 600px */

@media screen and (max-width: 600px) {
    .sectionSobreMim {
        width: 100%;
        height: 40vh;
        padding: 20px 0;
        box-shadow: 5px 5px 30px #00000046;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionSobreMim>h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sectionSobreMim>.traco {
        width: 10vw;
        height: 5px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .sectionSobreMim>p {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        width: 90%;
        line-height: 16px;
    }
}

/* Celulares: 600px até 768px */
@media screen and (min-width: 600px) and (max-width: 768px) {
    .sectionSobreMim {
        width: 100%;
        height: 40vh;
        padding: 0px 0;
        box-shadow: 5px 5px 30px #00000046;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionSobreMim>h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sectionSobreMim>.traco {
        width: 5vw;
        height: 5px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .sectionSobreMim>p {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        width: 60%;
        line-height: 20px;
    }
}

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .sectionSobreMim {
        width: 100%;
        height: 40vh;
        padding: 0px 0;
        box-shadow: 5px 5px 30px #00000046;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionSobreMim>h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sectionSobreMim>.traco {
        width: 5vw;
        height: 5px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .sectionSobreMim>p {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        width: 50%;
        line-height: 24px;
    }
}

/* Desktop: 992px até 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .sectionSobreMim {
        width: 100%;
        height: 40vh;
        padding: 0px 0;
        box-shadow: 5px 5px 30px #00000046;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionSobreMim>h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sectionSobreMim>.traco {
        width: 4vw;
        height: 5px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .sectionSobreMim>p {
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
        width: 50%;
        line-height: 26px;
    }
}

/* Grande telas: acima de 1200px */
@media screen and (min-width: 1200px) {
    .sectionSobreMim {
        width: 100%;
        height: 40vh;
        padding: 0px 0;
        box-shadow: 5px 5px 30px #00000046;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sectionSobreMim>h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sectionSobreMim>.traco {
        width: 3vw;
        height: 5px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .sectionSobreMim>p {
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
        width: 45%;
        line-height: 30px;
    }
}