/* Pequenas telas: até 600px */
@media screen and (max-width: 599px) {
    .section-home {
        height: 80vh;
        margin-top: 20vh;
    }

    .section-home>.conteudo {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-home>.conteudo>h1 {
        font-size: 22px;
    }

    .section-home>.conteudo>p {
        font-size: 12px;
        line-height: 18px;
    }


    .section-home>.icones {
        display: none;
    }

    .section-home>.icones>a {
        font-size: 14px;
    }

}

/* Celulares: 600px até 768px */
@media screen and (min-width: 600px) and (max-width: 768px) {
    .section-home {
        height: 90vh;
        margin-top: 10vh;
    }
    .section-home>.conteudo {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>h1 {
        font-size: 28px;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>p {
        font-size: 12px;
        line-height: 22px;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.icones {
        display: none;
    }

    .section-home>.icones>a {
        font-size: 14px;
    }
}

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {

    .section-home>.conteudo {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>h1 {
        font-size: 36px;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>p {
        transition: all 0.5s ease-in-out;
    }


    .section-home>.icones>a {
        font-size: 16px;
        transition: all 0.5s ease-in-out;
    }
}

/* Desktop: 992px até 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .section-home>.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>h1 {
        font-size: 42px;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>p {
        transition: all 0.5s ease-in-out;
    }

    .section-home>.icones>a {
        font-size: 18px;
        transition: all 0.5s ease-in-out;
    }
}

/* Grande telas: acima de 1200px */
@media screen and (min-width: 1200px) {

    .section-home>.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .section-home>.conteudo>h1 {
        font-size: 52px;
    }

    .section-home>.icones>a {
        font-size: 20px;
        transition: all 0.5s ease-in-out;
    }
}