/* Tela Ultra Pequena : até 480px*/
/*@media screen and (max-width: 480px) {*/


/* Pequenas telas: 480px até 600px */
@media screen and (max-width: 599px) {
    header {
        height: 20vh;
        position: fixed;
        z-index: 1;
        top: 0;
    }

    header>.areaTopo {
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
    }

    header>.areaTopo>.areaLogo {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    header>.areaTopo>.areaLogo>img {
        height: 70%;
        border-radius: 100%;
        margin-right: 10px;
        display: none;
    }

    header>.areaTopo>.areaLogo>a {
        font-size: 14px;
        text-align: center;
    }

    header>.areaTopo>.areaMenu {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-right: 50px;
        border-top: 1px solid #111111;
        margin: 10px auto 0;
    }

    header>.areaTopo>.areaMenu>.menuLink {
        font-size: 14px;
    }
}

/* Celulares: 600px até 768px */
@media screen and (min-width: 600px) and (max-width: 768px) {
    header {
        height: 10vh;
        position: fixed;
        z-index: 1;
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo {
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo {
        width: 40%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo>img {
        height: 100%;
        border-radius: 100%;
        margin-right: 10px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo>a {
        font-size: 15px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu {
        width: 50%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-right: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu>.menuLink {
        font-size: 15px;
        transition: all 0.5s ease-in-out;
    }
}

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        height: 10vh;
        position: fixed;
        z-index: 1;
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo {
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo {
        width: 30%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo>img {
        height: 100%;
        border-radius: 100%;
        margin-right: 10px;
    }

    header>.areaTopo>.areaLogo>a {
        font-size: 15px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu {
        width: 40%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-right: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu>.menuLink {
        font-size: 15px;
        transition: all 0.5s ease-in-out;
    }
}

/* Desktop: 992px até 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        height: 10vh;
        position: fixed;
        z-index: 1;
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo {
        width: 90vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo {
        width: 30%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }

    header>.areaTopo>.areaLogo>img {
        height: 100%;
        border-radius: 100%;
        margin-right: 10px;
    }

    header>.areaTopo>.areaLogo>a {
        font-size: 15px;
    }

    header>.areaTopo>.areaMenu {
        width: 40%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-right: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu>.menuLink {
        font-size: 15px;
    }
}

/* Grande telas: acima de 1200px */
@media screen and (min-width: 1200px) {
    header {
        height: 10vh;
        position: fixed;
        z-index: 1;
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo {
        width: 90vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }

    header>.areaTopo>.areaLogo {
        width: 20%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaLogo>img {
        height: 100%;
        border-radius: 100%;
        margin-right: 10px;
    }

    header>.areaTopo>.areaLogo>a {
        font-size: 16px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu {
        width: 30%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-right: 0px;
        transition: all 0.5s ease-in-out;
    }

    header>.areaTopo>.areaMenu>.menuLink {
        font-size: 16px;
        transition: all 0.5s ease-in-out;
    }
}