.sectionProjetos {
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    box-shadow: 5px 5px 30px #00000046;
    padding: 20px 0;
    box-shadow: 5px 5px 30px #00000046;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.conteudo{
    text-align: center;
}

.sectionProjetos>.conteudo>h2 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
}


.sectionProjetos>.conteudo>.traco {
    width: 3vw;
    height: 5px;
    background-color: #7843E9;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.conteudo>p {
    margin: 0 auto;
    width: 70%;
    line-height: 30px;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.conteudo>.conteudoMaior768px , .sectionProjetos>.conteudo>.conteudoMenor768px{
    margin: 0 auto;
    text-align: center;
}

.sectionProjetos>.conteudo>.conteudoMaior768px{
    display: none;
}

.sectionProjetos>.conteudo>.conteudoMenor768px{
    display: none;
}

.sectionProjetos>.tamanhoCard {
    width: 80vw;
    margin: 10px auto;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.tamanhoCard>.cards {
    width: calc(100% / 300px -20px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    padding: 0px;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.tamanhoCard>.cards>.projeto1 {
    width: 100%;
    height: 100%;
    background-image: url(/src//assets/projeto1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.sectionProjetos>.tamanhoCard>.cards>.projeto2 {
    width: 100%;
    height: 100%;
    background-image: url(/src//assets/projeto2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sectionProjetos>.tamanhoCard>.cards>.card {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px inset #7843E9;
    transition: all 0.5s ease-in-out;
}


.sectionProjetos>.tamanhoCard>.cards>.card>.descricao {
    width: 100%;
    height: 100%;
    background-color: #7843e9d2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.tamanhoCard>.cards>.card:hover>.descricao {
    transition: all 0.5s ease-in-out;
    display: flex;
}

.sectionProjetos>.tamanhoCard>.cards>.card>.descricao>p {
    width: 80%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.tamanhoCard>.cards>.card>.descricao>a {
    margin-top: 20px;
    width: 70%;
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>.tamanhoCard>.cards>.card>.descricao>a:hover {
    color: #7843E9;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>p {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.sectionProjetos>p>a {
    color: #7843E9;
    font-weight: 700;
    text-decoration: none;
}