footer {
    width: 100%;
    background-color: #000;
    height: 100%;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    box-shadow: 5px 5px 30px #00000091;
    margin-top: 50px;
    padding: 20px 0 0;
}

footer>.informacao {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fafafa69;
}

footer>.informacao>.conteudo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer>.informacao>.conteudo>h4 {
    font-size: 22px;
    margin: 50px 0 25px;
}

footer>.informacao>.conteudo>p {
    font-size: 14px;
    line-height: 18px;
}

footer>.informacao>.social {
    width: 10%;
}

footer>.informacao>.social>h4 {
    font-size: 22px;
    margin: 50px 0 25px;
}

footer>.informacao>.social>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

footer>.informacao>.social>div>a {
    margin-right: 0px;
    margin-left: 15px;
    color: #fff;
}

footer>.informacao>.social>div>a:hover {
    color: #7843E9;
    transition: color 0.5s ease-in-out;
}

footer>.copy {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}