/* Typical Device Breakpoints 
------------------------------

Pequenas telas: até 600px
Celulares: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px
*/


/* Pequenas telas: até 600px */
@media screen and (max-width: 600px) {
    footer {
        color: #fff;
        font-family: 'Source Code Pro', monospace;
        padding: 20px 0 0 ;
    }
    
    footer>.informacao {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    footer>.informacao>.conteudo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    
    footer>.informacao>.conteudo>h4 {
        font-size: 22px;
        margin: 0px 0 25px;
    }
    
    footer>.informacao>.conteudo>p {
        font-size: 12px;
        line-height: 20px;
    }
    
    footer>.informacao>.social {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }
    
    footer>.informacao>.social>h4 {
        width: 100%;
        text-align: center;
        font-size: 22px;
        margin: 10px 0 ;
    }
    
    footer>.informacao>.social>div {
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer>.informacao>.social>div>a{
        margin-right: 0px;
        color: #fff;
    }
    
    footer>.copy{
        height: 10vh;
        font-size: 12px;
        width: 100%;
        margin: 10px auto 0;
    }
}

/* Celulares: 600px até 768px */
@media screen and (min-width: 600px) and (max-width: 768px) {
    
    footer>.informacao>.conteudo {
        width: 50%;
    }
    
    footer>.informacao>.conteudo>h4 {
        font-size: 22px;
    }
    
    footer>.informacao>.conteudo>p {
        font-size: 12px;
        line-height: 20px;
    }
    
    footer>.informacao>.social {
        width: 20%;
        margin-bottom: 20px;
        text-align: end;
    }
    
    footer>.informacao>.social>h4 {
        font-size: 22px;
    }
    
    footer>.informacao>.social>div>a{
        font-size: 16px;
    }
    
    footer>.copy{
        height: 10vh;
    }
}

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    footer>.informacao>.conteudo {
        width: 40%;
    }
    
    footer>.informacao>.conteudo>h4 {
        font-size: 24px;
    }
    
    footer>.informacao>.conteudo>p {
        font-size: 14px;
        line-height: 24px;
    }
    
    footer>.informacao>.social {
        width: 20%;
        margin-bottom: 20px;
        text-align: end;
    }
    
    footer>.informacao>.social>h4 {
        font-size: 24px;
    }
    
    footer>.informacao>.social>div>a{
        font-size: 16px;
    }
    
    footer>.copy{
        height: 10vh;
    }
}

/* Desktop: 992px até 1200px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    footer>.informacao>.conteudo {
        width: 40%;
    }
    
    footer>.informacao>.conteudo>h4 {
        font-size: 28px;
    }
    
    footer>.informacao>.conteudo>p {
        font-size: 15px;
        line-height: 24px;
    }
    
    footer>.informacao>.social {
        width: 20%;
        margin-bottom: 20px;
        text-align: end;
    }
    
    footer>.informacao>.social>h4 {
        font-size: 28px;
    }
    
    footer>.informacao>.social>div>a{
        font-size: 16px;
    }
    
    footer>.copy{
        height: 10vh;
    }
}

/* Grande telas: acima de 1200px */
@media screen and (min-width: 1200px) {
    
    footer>.informacao>.conteudo {
        width: 30%;
    }
    
    footer>.informacao>.conteudo>h4 {
        font-size: 28px;
    }
    
    footer>.informacao>.conteudo>p {
        font-size: 15px;
        line-height: 24px;
    }
    
    footer>.informacao>.social {
        width: 20%;
        margin-bottom: 20px;
        text-align: end;
    }
    
    footer>.informacao>.social>h4 {
        font-size: 28px;
    }
    
    footer>.informacao>.social>div>a{
        font-size: 16px;
    }
    
    footer>.copy{
        height: 10vh;
    }
}